/*
 * Colors
 */
$gray = #444
$white = #fff
$green = #b3b3b3
$orange = #ffae2d
/*
 * App
 */
#app
	height: 100vh
	background: $green
	color: $white
	font-family: "Poiret One"
	letter-spacing: .05em

	&-header
		height: 37vh

	&-content
		height: 63vh
		padding: 4em 5em
		font-size: 1.2em
		line-height: 1.5
		margin: auto
		background: $orange

		p
			margin-bottom: 1em
